/* Alterar fonte do documento */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background:#e9e9e9 ;
}

a {
    text-decoration: none;
}

header {
    background-color: #2790B0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    font-weight: bold
}

h2 {
    color: #fff;
    margin: 0px 200px;
}

.btn-abrir {
    color: #fff;
    font-size: 25px;
}

nav {
    height: 100%;
    width: 0;
    background-color: #008997;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
}

nav a {
    color: #fff;
    font-size: 1.5em;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav img {
    max-width: 50%;
    max-height: 50%;
    padding: 0.5em;
}

nav a:hover {
    color: #2790B0;
    background-color: #fff;
}

.nav1 {
    display: flex;
    justify-content: center;
}

.itens {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-top: 0.3em;
}

.itens img {
    max-width: 18%;
    max-height: 18%;
}

#tb-vendas {
    margin:5em 30em;
    display: none;
}

#tb-compras {
    margin: 5em 30em;
    display: none;
}
#tb-usuario {
    margin: 5em 30em;
    display: none;
}
#tb-produto {
    margin: 5em 30em;
    display: none;
}

/* Estilização das tabelas */
table,
tr,
th,
td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th,
td {
    padding: 5px 10px;
}

th {
    background-color: #0000a0;
    color: #fff;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

table tr:nth-child(even) {
    background-color: #fff;
}