body {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #2790B0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    font-weight: bold
}

h2 {
    color: #fff;
    margin: 0px 200px;
}

.btn-abrir {
    color: #fff;
    font-size: 25px;
}

nav {
    height: 100%;
    width: 0;
    background-color: #0000a0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
}

nav a {
    color: #fff;
    font-size: 1.5em;
    display: block;
    padding: 12px 10px 12px 32px;
}

nav img {
    padding: 1em;
    padding-left: 1.8em;
    max-width: 50%;
    max-height: 50%;
}

nav a:hover {
    color: #2790B0;
    background-color: #fff;
}

.nav1 {
    display: flex;
    justify-content: center;
}

.itens {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-top: 0.3em;
}

.itens img {
    max-width: 18%;
    max-height: 18%;
}

.tabela {
    margin: 10em 50em;
}
