/* Alterar fonte do documento */
* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background:#D9D9D9 ;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #2790B0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    z-index:1;
    text-align: center;
}
.img{
    width: 100%;
    height: 100%;
}
.img img{
    border-radius: 20px;
    margin-left: 35em;
    margin-top: 7em;
}
h2 {
    color: #fff;
    margin: 0px 30em;
    margin: 0;
    width: 100%;
}

.btn-abrir {
    color: #fff;
    font-size: 25px;
}

.btn-fechar{
    text-align: center;
}

nav {
    height: 100%;
    width: 15%;
    background-color: #008997;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
}

.opcaoMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    font-size: 1.5em;
    display: block;
    padding: 12px 10px 12px 32px;
    padding: 0;
}

.imgBox{
    text-align: center;
}

nav img {
    max-width: 50%;
    max-height: 50%;
    padding: 0.5em;
}

nav a:hover {
    color: #2790B0;
    background-color: #fff;
}

.nav1 {
    display: flex;
    justify-content: center;
}

.itens {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-top: 0.3em;
}

.itens img {
    max-width: 18%;
    max-height: 18%;
}

#tb-vendas {
    margin:5em 30em;
    display: none;
}

#tb-compras {
    margin: 5em 30em;
    display: none;
}
#tb-usuario {
    margin: 5em 30em;
    display: none;
}
#tb-produto {
    margin: 5em 30em;
    display: none;
}
#tb-relatorios{
    margin: 5em 30em;
    display: none;
}

/* Estilização das tabelas */

table,
tr,
th,
td {
    text-align: center;
    border-collapse: collapse;
    border: 0.1px dotted rgb(205, 188, 188);
    white-space: nowrap;
}

th,
td {
    padding: 5px 20px;
}

th {
    background-color: #2790B0;
    color: #fff;
}

table tr:nth-child(odd) {
    background-color: #ddd;
}

table tr:nth-child(even) {
    background-color: #fff;
}

/* botao de adicionar vendas, compras, usuarios, produtos */
.adicionar{
    font-size:0.8em;
    display: block;
    width: 8vw;
    height: 2vh;
    padding: 10px 5px;
    background-color: #008997;
    color: #FFF;
    border-radius: 5px 5px 0px 0px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
}
a:hover {
    color: #2790B0;
    background-color: #fff;
}